<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silicon Valley Web Services - Welcome to our site</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/headpage.css' %}">
</head>
<body>
    <div class="head-menu">
        <p class="head-menu-title">S.V.W.S</p>
        <div class='head-menu-buttons-box'>    
            <a class='head-menu-buttons' href="">Services</a>
            <a class='head-menu-buttons' href="">Home</a>
            <a class='head-menu-buttons' href="">Portfolio</a>
            <a class='head-menu-buttons' href="">Testimonials</a>
            <a class='head-menu-buttons' href="">Contact</a>
        </div>
        <p class="head-menu-contact">(408)555-0987</p>
    </div>

    <div class="head-image">
    </div>
    <h3 class="uc" >WEBSITE UNDER CONSTRUCTION</h3>
    <h1 class="uc" >COMING SOON</h1>

    <!-- <div class="head-info">
        <div class="head-info-box" >
            <h1>Design</h1>
            <p class="image1"></p>
            <p></p>
        </div>
        <div class="head-info-box" >
            <h1>Management</h1>
            <p class="image2"></p>
            <p></p>
        </div>
        <div class="head-info-box" >
            <h1>Hosting</h1>
            <p class="image3"></p>
            <p></p>
        </div>
    </div> -->
</body>
</html>