*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: solid black 1px; */
}
.head-menu{
    background-color: white;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: black solid thin;
}
.head-menu-buttons-box{
    display: inline-block;

}
.head-menu-buttons{
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
    color: black;
    font-size: 2vw;
}

.head-menu-title{
    margin-right: 5%;
    display: inline-block;
    font-size: 2vw;
}
.head-menu-contact{
    margin-left: 5%;
    display: inline-block;
    font-size: 2vw;
}
.head-image{
    background-image: url(/static/img/svws1.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 30%;
    padding-bottom: 23%;
    border-bottom: black thin solid;
}
.head-info{
    background-color: #070653;
    color: white;
}
.head-info-box{
    overflow-x: scroll;
    width: 30%;
    display: inline-block;
    font-size: 2vw;
    text-align: center;
    padding-left:2%;
    ;
}
.image1{
    background-image: url(/static/img/svws4.jpg);
    background-size: cover;
    padding-top: 60%;
}
.image2{
    background-image: url(/static/img/svws2.jpeg);
    background-size: cover;
    padding-top: 60%;
    border-radius: 2px;
}
.image3{
    background-image: url(/static/img/svws3.jpg);
    background-size: cover;
    padding-top: 60%;
}

.uc{
    text-align: center;
    font-size: 4vw;
    padding-top: 5%;
}

